.TableTransactionList {
	margin-top: 1.5%;
}
.doughnut-homePage {
	margin-top: 1.5%;
}

.monthFilterButton {
	border-bottom: 1px solid gray;
	margin: 20px;
	border: none;

	background-color: #222;
	color: #dee5e5;
}

.monthFilter-box {
	justify-content: center;
	align-items: center;
	display: flex;
	height: 15%;

	background-color: #222;
	color: #ffd700;
	vertical-align: center;
	margin-bottom: 30px;
	padding-left: 20px;
	justify-content: space-between;
}
.MonthFilterCancelButton {
	margin-right: 2%;

	background-color: #ffd700;
	color: #364652;
	font-size: 16px;
	padding: 0.6%;
	padding-left: 10%;
	padding-right: 10%;
	border-radius: 5px;
	margin-left: 20%;
	font-weight: 700;
}
