.col-lg-5 {
    position: relative;
}

.col-lg-5,
.col-lg-7 {
    background-color: #222;
}

.totalExpense{
    position: absolute;
    width: 20%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddExpenseForm-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #ffd700;
    padding: 5%;
    text-align: center;
}

.expenseCategorySelector {
    display: flex;
    margin: 1%;
}

.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    text-align: left;
}

.expenseCategorySelector input,
.expenseCategorySelector option {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dee5e5;
    color: #222;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    padding-top: 30px;
    padding-bottom: 5px;
    -webkit-appearance: none;
    background: transparent;
}
.expenseInputSelect{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dee5e5;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    padding-top: 30px;
    padding-bottom: 5px;
    -webkit-appearance: none;
    background: transparent;
}

/* LABAI SVARBU: Kalendoriaus ikonėlė */
::-webkit-calendar-picker-indicator {
    filter: invert(0.75);
}

#sum::placeholder,
#expenseTitle::placeholder {
    color: #dee5e5;
}

.new-expense__control {
    margin-top: 2%;
    display: flex;
    justify-content: left;
}

.new-expense__control input {
    font: inherit;
    color: #dee5e5; /*Edit input formų spalvos*/
    padding: 0.5rem;
    /* border-radius: 6px; */
    border-bottom: 1px solid #dee5e5; /*Input laukelių rėmelio spalva*/
    width: 30rem;
    max-width: 100%;
}
.new-expense__control select {
    font: inherit;
    padding: 0.5rem;
    /* border-radius: 6px; */
    color: #dee5e5;
    border-bottom: 1px solid #dee5e5;
    width: 30rem;
    max-width: 100%;
}

.new-expense__actions {
    text-align: left;
    margin: 1%;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
}
.expenseExportBtn{
    width: 20%;
}
.expenseExportBtn button{
    background-color: #169873;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #dee5e5;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    width: 300px;
    margin-top: 20px;
    text-align: center;
}
.expenseExportBtn button:hover{
        background-color: #dee5e5;
        color: #364652;
}

.my-customized-button {
    font: inherit;
    cursor: pointer;
    width: 40%;
    height: 2rem;
    border: 1px solid #ffd700;
    background-color: #ffd700;
    color: #364652;
    margin-top: 0.5rem;
    margin-right: 3rem;
    border-radius: 5px;
    font-weight: bold;
}

.my-customized-button:hover {
    border-color: #ffd700;
    color: #000000;
    background-color: #ffd700;
    border: 1px solid #ffd700;
}

/* @media only screen and (max-width: 2560px) {
    .totalExpense-number {
        position: absolute;
        padding: 37% 45%;
        color: #fff;
    }
}

@media only screen and (max-width: 1920px) {
    .totalExpense-number {
        position: absolute;
        padding: 60% 40%;
        color: #fff;
    }
} */
/* 
@media only screen and (max-width: 1280px) {
    .totalExpense-number {
        position: absolute;
        padding: 85% 40%;
        color: #fff;
    }
}

@media only screen and (max-width: 1180px) {
    .totalExpense-number {
        position: absolute;
        padding: 100% 35%;
        color: #fff;
    }
} */

/* FIXME: For vertical alignment */
/* @media only screen and (max-width: 1080px) {
    .totalExpense-number {
        position: absolute;
        padding: 55% 42%;
        color: #fff;
    }
}

@media only screen and (max-width: 850px) {
    .totalExpense-number {
        position: absolute;
        padding: 105% 38%;
        color: #fff;
    }
}

@media only screen and (max-width: 740px) {
    .totalExpense-number {
        position: absolute;
        padding: 107% 38%;
        color: #fff;
    }
}

@media only screen and (max-width: 375px) {
    .totalExpense-number {
        position: absolute;
        padding: 112% 38%;
        color: #fff;
    }
}
 */