.ExpenseList-container {
    background-color: #222;
    padding-top: 2%;
    margin: 0;
}

.ExpenseList-row {
    border-radius: 5px;
    display: flex;
    margin: 0.5%;
    background-color: #364652;
}

.ExpenseList-row div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.ExpenseListLabels {
    padding: 1.1%;
    color: #364652;
    background-color: #ffd700;
    font-weight: 700;
    width: 20%;
    text-align: center;
}
.expenseListFirst{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.expenseListLast{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.ExpenseDate-List,
.ExpenseCategory-List,
.ExpenseName-List,
.ExpenseAmount-List {
    font-size: 1rem;
    text-align: center;
    color: #dee5e5;
}

.ExpenseListOptionsButtons {
    display: flex;
    justify-content: center;
    text-align: center;
}

.ExpenseListEdit-button {
    background-color: #364652;
    color: #ffd700;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
}
.ExpenseListEdit-button:hover {
    background-color: #dee5e5;
    color: #364652;
}

.ExpenseListDelete-button {
    background-color: #364652;
    font: inherit;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    color: #ffd700;
    /* margin-right: 1rem; */
    border-radius: 50%;
    border: none;
}

.ExpenseListDelete-button:hover {
    background-color: #dee5e5;
    color: #364652;
}
