.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

label {
    color: #dee5e5; /*Input laukelių antraščių spalva*/
}

input,
select,
option {
    color: #364652;
}

.new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    width: 20rem;
    display: block;
}

.new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #dee5e5; /* Input laukelių rėmelio spalva*/
    width: 20rem;
    max-width: 100%;
}
.new-expense__control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #dee5e5;
    width: 20rem;
    max-width: 100%;
}

.new-expense__actions {
    text-align: right;
}

.btn.my-cusomized-button {
    border-color: #d7263d;
    color: #dee5e5;
    background-color: #d7263d;
    border: 1px solid #d7263d;
}

.btn.my-cusomized-button:hover {
    border-color: #ffd700;
    color: #364652;
    background-color: #ffd700;
    border: 1px solid #ffd700;
}
