.new-expense {
    /* background-color: #374652; */
    /* padding: 1%; */
}
.expense-submit-button {
    font: inherit;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
    border: 1px solid #169873;
    background-color: #169873;
    color: #dee5e5; /*tekstas "Pridėti */
    margin-right: 3rem;
    border-radius: 5px;
}

.new-expense__actions button:hover,
.new-expense__actions button:active {
    background-color: #dee5e5;
    color: #374652;
    border-color: #dee5e5;
}

/* .new-expense__actions button.alternative {
    color: #364652;
    border-color: transparent;
    background-color: transparent;
}

.new-expense__actions button.alternative:hover,
.new-expense__actions button.alternative:active {
    background-color: #ddb3f8;
} */
