@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.fa-2x {
	font-size: 2em;
}
.icon-up {
	position: relative;
	display: table-cell;
	text-align: center;
	font-size: 2em;
	padding-top: 15px;
	padding-right: 10px;
	padding-left: 12px;
	color: #ffd700;
	padding-right: 30px;
}
.logoutIcon {
	text-align: center;
	font-size: 2em;
	padding: 0;
	color: #ffd700;
	padding-right: 30px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.main-menu:hover,
nav.main-menu.expanded {
	width: 300px;
	overflow: visible;
}

.main-menu {
	background: #364652;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	left: 0;
	width: 65px;
	padding-left: 5%;
	padding-top: 2%;
	overflow: hidden;
	-webkit-transition: width .05s linear;
	transition: width .05s linear;
	-webkit-transform: translateZ(0) scale(1, 1);
	z-index: 1000;
	height: 100vh;
	position: -webkit-sticky;
	position: sticky;
}

.main-menu > ul {
	margin-right: 10px;
	margin-top: 5%;
}

.main-menu li {
	position: relative;
	display: flex;
	width: 95%;
	align-items: center;
	border-bottom: 1px solid #ffd700;
	margin-left: 4%;
}

.LinkName {
	position: relative;
	display: table;
	border-collapse: collapse;
	border-spacing: 0;
	color: #999;
	font-family: arial;
	font-size: 14px;
	text-decoration: none;
	-webkit-transform: translateZ(0) scale(1, 1);
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.main-menu .nav-icon {
	position: relative;
	display: table-cell;
	width: 60px;
	height: 36px;
	text-align: start;
	font-size: 18px;
}

.main-menu .nav-text {
	position: relative;
	width: 190px;
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	letter-spacing: 0.1em;
	color: rgb(215, 206, 206);
}

.nav-text:hover {
	color: #ffd700;
}

.main-menu > ul.logout {
	position: absolute;
	left: 0;
	bottom: 0;
}

.no-touch .scrollable.hover {
	overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
	overflow-y: auto;
	overflow: visible;
}

a:hover,
a:focus {
	text-decoration: none;
}

nav {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

nav ul,
nav li {
	outline: 0;
	margin: 0;
	padding: 0;
}

.area {
	position: absolute;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.line-nav {
	width: 90%;
	border: 1px solid #ffd700;
	margin: 0 auto;
}

.logo {
	width: 50px;
	height: 50px;
	margin-right: 5%;
	margin-left: 1%;
	margin-bottom: 1%;
}
.titleAndLogo {
	display: flex;
	align-items: center;
}
.logout {
	display: flex;
	align-items: center;
}
.logoutLine {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	align-items: center;
}
