/* .AddIcomesForm-container {
	width: 70%;
	background-color: black;
	color: white;
	margin: auto;
	text-align: center;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	justify-content: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

.AddIncomeForm-title {
	color: rgb(79, 130, 79);
	font-family: sans-serif;
	font-size: 26px;
	font-weight: 600;
	margin-top: 10px;
	text-align: center;
}

.AddIncomeForm-input {
	background-color: white;
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: black;
	font-size: 18px;
	outline: 0;
	padding: 10px;
	width: 300px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.AddIncomeForm-input > .placeholder {
	color: #65657b;
	font-family: sans-serif;
	left: 20px;
	line-height: 14px;
	position: absolute;
	top: 20px;
}

#button-incomeAdd {
	background-color: rgb(35, 63, 35);
	border-radius: 12px;
	border: 0;
	box-sizing: border-box;
	color: #eee;
	cursor: pointer;
	font-size: 18px;
	height: 40px;
	margin-top: 50px;
	text-align: center;
	width: 100%;
}
 */

.AddIncomeForm__controls {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-bottom: 1rem;
	text-align: left;
}

.AddIncomeForm__category {
	color: #dee5e5; /*Input laukelių antraščių spalva (nebenaudojama, bet užkomentuotas kodas likęs ExpenseForm.js kaip opcija ateičiai)*/
}

.AddIncomeForm-option,
.AddIncomeForm-input {
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #dee5e5;
	box-sizing: border-box;
	/* font-family: 'Poppins'; */
	font-weight: bold;
	font-size: 24px;
	transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-o-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	padding-top: 30px;
	padding-bottom: 5px;
	-webkit-appearance: none;
	background: transparent;
}

/* VERY F@CKIN' SVARBU: Kalendoriaus ikonėlė*/
::-webkit-calendar-picker-indicator {
	filter: invert(0.75);
}

.AddIncomeForm-input::placeholder {
	color: #dee5e5;
}

.AddIncomeForm__label {
	font-weight: bold;
	margin-bottom: 0.5rem;
	width: 20rem;
	display: block;
}

.AddIncomeForm-input {
	font: inherit;
	color: #dee5e5; /*Edit input formų spalvos*/
	padding: 0.5rem;
	/* border-radius: 6px; */
	border-bottom: 1px solid #dee5e5; /*Input laukelių rėmelio spalva*/
	width: 20rem;
	max-width: 100%;
}

.AddIncomeForm-select {
	font: inherit;
	padding: 0.5rem;
	/* border-radius: 6px; */
	color: #dee5e5; /*Kategorijos teksto spalva*/
	border-bottom: 1px solid #dee5e5;
	width: 20rem;
	max-width: 100%;
}

#button-incomeAdd {
	border-color: #ffd700;
	color: #000000;
	background-color: #ffd700;
	border: 1px solid #ffd700;
}
