.IncomesList {
	display: flex;
	flex-direction: column;
	width: 80%;
}

.IncomesListName-title {
	display: flex;
	color: #364652;
	font-weight: 700;
	padding: 1.1%;
	width: 100%;
	justify-content: center;
	text-align: center;
	margin: 0.2%;
	background-color: #ffd700;
	border-radius: 5px;
}
.IncomesListDateTitle {
	width: 15%;
	height: 100%;
}
.IncomesListNameTitle {
	width: 25%;
}

.IncomesListCategoryTitle {
	width: 30%;
}

.IncomesListAmountTitle {
	width: 15%;
}

.IncomesListActionsTitle {
	width: 15%;
}

.IncomesListSingle {
	display: flex;
	color: white;
	padding: 0.5%;
	width: 100%;
	justify-content: center;
	text-align: center;
	margin: 0.2%;
	background-color: #364652;
	border-radius: 5px;
}
.IncomesListDate {
	width: 15%;
	height: 100%;
}
.IncomesListName {
	width: 25%;
}

.IncomesListCategory {
	width: 30%;
}

.IncomesListAmount {
	width: 15%;
}

.IncomesListActions {
	width: 15%;
}

.IncomeListEdit-button {
	color: #ffd700;
	background-color: #364652;
	border: none;
}

.IncomeListDelete-button {
	color: #ffd700;
	background-color: #364652;
	border: none;
}
