.IcomesList {
	display: flex;
	flex-direction: column;
	width: 70%;
}

/* .IcomesListItem {
	display: flex;
	color: white;
	padding: 2%;
	width: 100%;
	justify-content: center;
	text-align: center;
	margin: 0.5%;
	background-color: #364652;
	border-radius: 5px;
} */
.IcomesListDate {
	width: 15%;
	height: 100%;
}
.IcomesListName {
	width: 35%;
}

.IcomesListCategory {
	width: 30%;
}

.IcomesListAmount {
	width: 20%;
}

.IncomeListEdit-button {
	background-color: rgb(58, 151, 58);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.IncomeListDelete-button {
	background-color: rgb(242, 84, 17);
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
