.usersPage{
    color: white;
}
.usersPageSingleUser{
    display: flex;
    align-items: center;
    border-left: 1px solid #FFD700;
    border-right: 1px solid #FFD700;
    background-color: #364652;
    padding: 2%;
    margin: 1%;
    border-radius: 5px;
    box-sizing: content-box;
}
.usersPageNav button:hover{
    background-color: #169873;
}
.usersForm{
    width: 98%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    border-bottom-left-radius: 12px;
}
.usersForm input{
    width: 30%;
    display: inline-block;
    border: none;
    background: #dee5e5;
    height: 100%;
    box-sizing: border-box;
}
.usersNameAndEmail{
    width: 70%;
}
.usersSingleUserGold{
    border-right: 2px solid #FFD700;
}
.usersSingleUserGreen{
    border-right: 2px solid #169873;
}
.usersPageInputUser{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.usersPageInputEmail{
    border-top-left-radius: 0;
}
.usersForm button{
    background-color: #169873;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
	border: none;
	box-sizing: border-box;
	color: #eee;
	cursor: pointer;
    height: 100%;
    width: 10%;
	text-align: center;
}
.usersPageSingleBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 20%;
    margin-left: 2%;
}
.usersPageSelectType{
    height: 100%;
    border: 1px solid #f1f1f1;
    border-left: 1px solid #d9d7d7;
    background-color: #dee5e5;
    color: #364652;
}
.usersPageType{
    width: 20%;
}
.usersPageDeleteBtn{
    padding: 1%;
    border-radius: 50%;
    border: none;
    width: 3rem;
    height: 3rem;
    background-color: #364652;
    color: #ffd700;
    margin: 0.5%;
}
.usersPageEditBtn{
    padding: 1%;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: #364652;
    color: #ffd700;
    margin: 0.5%;
}
.usersPageChangeType{
    padding: 5%;
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: #364652;
    color: #dee5e5;
    border-bottom: 1px solid #FFD700;
    margin: 0.5%;
}
.usersPageChangeType:hover{
    background-color: #169873;
}
.usersPageDeleteBtn:hover{
    background-color: #169873;
    color: #dee5e5;
}
.usersPageEditBtn:hover{
    background-color: #169873;
    color: #dee5e5;
}
.usersPageNavBtns{
    padding: 1%;
    border-radius: 12px;
    border: none;
    background-color: #364652;
    color: #dee5e5;
    border-bottom: 1px solid #FFD700;
    margin: 1%;
}
.usersPageAddBtn{
    background-color: #169873;
	border: none;
	box-sizing: border-box;
	color: #eee;
	cursor: pointer;
    height: 100%;
    width: 10%;
	text-align: center;
}