.historyPage{
    color: white;
    overflow-y: scroll;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.historyPageSelectOption{
    width: 25%;
    text-align: center;
    border-radius: 5px;
    padding: 1%;
}
.historyPageSelectContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.historyPageLogSingle{
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    padding: 1%;
    background-color: #364652;
    color: white;
    border-radius: 5px;
    margin: 0.5%;
    display: flex;
    align-items: center;
    border-right: 1px solid #FFD700;
    border-left: 1px solid #FFD700;
}
.historyPageLogTimestamp{
    width: 20%;
    font-size: 1vw;
}
.historyPageLogUsername{
    width: 10%;
    font-size: 1vw;
}
.historyPageLogActionType{
    width: 20%;
    font-size: 1vw;
    padding: 1%;
}

.deleteSelectedBtn{
    padding: 1%;
    border-radius: 12px;
    border: none;
    border-bottom: 1px solid #FFD700;
    background-color: #364652;
    color: white;
    margin: 0.5%;
}
.deleteSelectedBtn:hover{
    background-color: #169873;
}
.historyPageLogData{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
}
.historyPageLogData{
    font-size: 0.9vw;
}
.historyPageLogData div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.historyPageLogData div span{
    font-size: 0.7vw;
    color: #FFD700;
}
.historyPageLogDeleteBtn{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteSelectedBtn{

}

.historyPageLogDeleteBtn button{
    padding: 1%;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    background-color: #364652;
    color: #ffd700;
}
.historyPageLogDeleteBtn button:hover{
    background-color: #169873;
    color: #dee5e5;
}